#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%; /*regra de tres para chegar a porcentagem foi (656*100)/1280, sendo 656 weith e 1280 soma dos dois*/

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;
}

main .main-container {
    max-width: 33rem; /*528 dividindo por 16 = 33rem*/
    margin-left: auto;
}

main .voltar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
   
}

main h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;
}

aside .aside-container {
    max-width: 31rem;
}

.aside-container > img {
   /*width: 100%;
    height: auto;*/
    margin-top: 2rem;
}

aside h2 {
    font: 800 2.5rem/1.25 var(--font-);
    margin-bottom: 0.5rem;
}

aside h2 span {
    color: var(--text-hightlight);
}

@media (max-width: 767px) {

    #app {
        display: flex;
        flex-direction: column-reverse; /*Inverte a ordem: aside vem antes do main*/
        overflow: auto; /* Faz a rolagem ser controlada no contêiner principal */
        height: 100vh; /* Garante que o app ocupe a altura da tela */
    }
    
    main {
        flex: 1; /*main ter um espaço flexível, preenchendo o restante do espaço */
        overflow: visible; /* Remove a rolagem do main */
        padding: 1.5rem;
    }
    
    aside {
        flex: 0 1 300px; 
    }


    main p {
        max-width: 100%; /* Ajusta conforme o container */
        font-size: 15px;
    }
}    