#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%; /*regra de tres para chegar a porcentagem foi (656*100)/1280, sendo 656 weith e 1280 soma dos dois*/

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;
}

main .main-container {
    max-width: 33rem; /*528 dividindo por 16 = 33rem*/
    margin-left: auto;
}

main .back {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

main h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;
}

aside .aside-container {
    max-width: 31rem;
}

.aside-container > img {
   /*width: 100%;
    height: auto;*/
    margin-top: 2rem;
}

aside h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
}

aside h2 span {
    color: var(--text-highlight);
}