@import url(droparea.css);

input, textarea, select {
    appearance: none; /*tirar seta do espaço formulário*/
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--stroke-default);

    padding: .75rem 1rem;

    font: var(--text);
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block; /*precisa ser block para aceitar margin-bottom*/
    margin-bottom: .25rem;
}

input:focus,select:focus,textarea:focus {
    outline: .25rem solid var(--surface-secondary); /*add cor em volta caixa formulário*/
    border: .125rem solid var(--stroke-hightlight);
    outline-offset: .1px;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"]::before {
    content: "";
    position: absolute;
    background: url(../../assets/icons/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    /*top: 50%;
    transform: translateY(-50%); centralizar o ícone calendário*/
}

select {
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
    
}

